<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" enctype="multipart/form-data" th:object="${productDto}">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" th:field="${productDto.name}" required><br><br>
        
        <div class="form-group my-2 flex items-center mx-auto w-full text-xs">
            <label for="input-category"></label>
            <select id="select-category" name="category"
                class="w-full bg-amber-100 p-3 rounded-lg flex justify-center "th:field="${productDto.category}">
                <option value="">Select category</option>
                <option value="shirt">Shirt</option>
                <option value="jean">Jean</option>
                <option value="dress">Dress</option>
                <option value="shoe">Shoe</option>
            </select>
        </div>
        
        <label for="s_price">Selling Price:</label>
        <input type="number" id="s_price" name="s_price" th:field="${productDto.s_price}" required><br><br>
        
        <label for="p_price">Purchase Price:</label>
        <input type="number" id="p_price" name="p_price" th:field="${productDto.p_price}" required><br><br>
        
        <label for="stock">Stock:</label>
        <input type="number" id="stock" name="stock"  required><br><br>
        
        <label for="imgurl">Image:</label>
        <input type="file" id="imgurl" name="imgurl" required><br><br>
        
        <input type="submit" value="Submit">
    </form>
</body>
</html>