<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- <meta name="viewport" content="width=1024"> -->
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Order</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <link href="css/styles.css" rel="stylesheet" />
    <link rel="stylesheet"
        href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet"
        crossorigin="anonymous" />
    <link rel="stylesheet"
        href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js"
        crossorigin="anonymous"></script>
    <style>
    </style>
</head>

<body class="sb-nav-fixed bg-gray-50">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand" href="order_form"><strong>ORDER FORM</strong></a>
        <button class="order-1 btn btn-link btn-sm order-lg-0" id="sidebarToggle" href="#"><i
                class="las la-bars"></i></button>

        <!-- Navbar Search-->
        <form class="my-2 ml-auto mr-0 d-none d-md-inline-block form-inline mr-md-3 my-md-0">
            <div class="input-group">
                <input class="form-control" id="search-input" type="text" placeholder="Search for..."
                    aria-label="Search" aria-describedby="basic-addon2" />
                <div class="input-group-append">
                    <button class="btn btn-primary" id="search-button" type="button"><i
                            class="fas fa-search"></i></button>
                </div>
            </div>
        </form>

        <!-- Navbar-->
        <ul class="ml-auto navbar-nav ml-md-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="logout.php">Logout</a>
                </div>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="sidebar-brand">
                        <span>
                            <img src="images/teratai7.png" width="90%px" />
                        </span>
                    </div>
                    <div class="nav">
                        <a class="nav-link" href="/">
                            <div class="sb-nav-link-icon"><i class="las la-home"></i></div>
                            DASHBOARD
                        </a>
                        <a class="nav-link" href="product_page">
                            <div class="sb-nav-link-icon"><i class="las la-clipboard-list"></i></div>
                            PRODUCT
                        </a>
                        <a class="nav-link" href="money_page">
                            <div class="sb-nav-link-icon"><i class="las la-wallet"></i></div>
                            SALES REPORT
                        </a>
                    </div>
                </div>
            </nav>
        </div>

        <!--KONTEN-->
        <div id="layoutSidenav_content">
            <main class="flex-col flex ">
                <div class="content flex flex-col mt-5">
                    <div class="order-form-container flex flex-col lg:flex-row mx-auto text-xl">
                        <div class="form bg-white p-5 rounded-lg w-[350px] shadow-md text-base mb-5">
                            <h1 class="text-center font-bold text-base">Order Form</h1>
                            <form method="POST" enctype="multipart/form-data" th:object="${invoiceDto}">
                                <div class="form-group my-1 lg:my-2">
                                    <label for="name">Customer name</label><br>
                                    <input type="text" name="name" id="name"
                                        class="form-control bg-amber-100 p-2 rounded-lg w-full" required placeholder="Johnny"
                                        th:field="*{cus_name}">
                                </div>
                                <div class="form-group my-1 lg:my-2">
                                    <label for="date">Date</label><br>
                                    <input type="datetime-local" name="date" id="date"
                                        class="form-control bg-amber-100 p-2 w-full rounded-lg" required
                                        th:field="*{date}">
                                </div>
                                <div class="form-group my-2">
                                    <label for="product">Product code</label><br>
                                    <input type="text" name="p_code" id="product-code"
                                        class="form-control bg-amber-100 p-2 w-full rounded-lg" required
                                        th:field="*{p_code}" placeholder="Please enter the correct code....">
                                    <p th:if="${#fields.hasErrors('p_code')}" th:errors="*{p_code}"
                                        class="error text-red-500"></p>
                                </div>
                                <div class="form-group my-2">
                                    <label for="product-qty">Quantity</label><br>
                                    <input type="text" name="qty" id="qty"
                                        class="form-control bg-amber-100 p-2 rounded-lg w-full"
                                        th:field="*{qty}" placeholder="2" required>
                                    <p th:if="${#fields.hasErrors('qty')}" th:errors="*{qty}"
                                        class="error text-red-500"></p>
                                </div>
                                <div class="form-group my-2 flex items-center mx-auto">
                                    <label for="input-category">Payment Method</label>
                                    <select id="select-category" name="select-category"
                                        class="w-full bg-amber-100 p-3 rounded-lg flex justify-center "
                                        th:field="*{paymethod}">
                                        <option th:each="method : ${paymentMethod}" th:value="${method}"
                                            th:text="${method}"></option>
                                    </select>
                                </div>
                                <div class="form-group my-2 flex items-center mx-auto">
                                    <label for="input-category">Status</label>
                                    <select id="select-category" name="select-category"
                                        class="ml-5 w-full bg-amber-100 p-3 rounded-lg flex justify-center "
                                        th:field="*{status}">
                                        <option th:each="status : ${statusValues}" th:value="${status}"
                                            th:text="${status}">
                                        </option>
                                    </select>
                                </div>
                                <div class="lower-form flex flex-row justify-between items-center">
                                    <button type="submit"
                                        class="btn float-end mt-2 bg-amber-200 px-3 transition-all py-2 rounded-xl hover:scale-105 active:scale-95 active:bg-amber-300">Add
                                        order</button>
                                </div>
                            </form>
                        </div>
                        <div
                            class="transaction-table bg-white p-5 rounded-lg lg:ml-2 w-[850px] h-[610px] overflow-x-hidden shadow-md">
                            <h1 class="text-center text-2xl font-bold">Transaction</h1>
                            <table class="table-auto overflow-auto overflow-x-hidden lg:w-full text-center mx-auto">
                                <thead class="text-sm">
                                    <tr class="bg-amber-100">
                                        <th class="px-4 py-2">Cust. name</th>
                                        <th class="px-4 py-2">Prod. code</th>
                                        <th class="px-4 py-2">Prod. name</th>
                                        <th class="px-4 py-2">Price</th>
                                        <th class="px-4 py-2">Rem. Stock</th>
                                        <th class="px-4 py-2">Qty</th>
                                        <th class="px-4 py-2">Total</th>
                                        <th class="px-4 py-2">Aksi</th>
                                    </tr>
                                </thead>
                                <tbody class="text-sm rounded-md overflow-scroll">
                                    <tr th:each="invoice : ${invoices}" class="text-center">
                                        <td class="border px-4 py-2" th:text="${invoice.cus_name}">1</td>
                                        <td class="border px-4 py-2" th:text="${invoice.p_code.code}"></td>
                                        <td class="border px-4 py-2" th:text="${invoice.p_code.name}"></td>
                                        <td class="border px-4 py-2" th:text="@{'Rp. ' + ${invoice.price}}"></td>
                                        <td class="border px-4 py-2" th:text="${invoice.p_code.stock}"></td>
                                        <td class="border px-4 py-2" th:text="${invoice.qty}"></td>
                                        <td class="totally border px-4 py-2"
                                            th:text="@{'Rp. ' + ${invoice.price * invoice.qty}}"></td>
                                        <td class="border px-4 py-2 justify-center">
                                            <form th:action="@{/delete_invoice/{id}(id=${invoice.id})}" method="post"
                                                onsubmit="return confirm('Are you sure you want to delete?')">
                                                <button
                                                    class="btn bg-red-400 px-3 py-2 rounded-xl hover:scale-105 active:scale-95 active:bg-red-500"
                                                    type="submit">Delete</button>
                                            </form>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="transaction-form-lower mt-5 flex flex-col">
                                <div class="sub-total-amount-return text-xs">
                                    <form id="done-form" enctype="multipart/form-data" th:object="${amountDto}">
                                        <div class="sub-total form-group-transaction my-2">
                                            <label for="sub-total">Sub total (Rp):</label><br>
                                            <input type="text" name="price" id="sub-total"
                                                class="form-control bg-amber-100 px-2 py-1 rounded-lg w-[200px]"
                                                readonly disabled>
                                        </div>
                                        <div class="form-group my-2">
                                            <label for="amount">Amount (Rp):</label><br>
                                            <input type="text"
                                                class="form-control bg-amber-100 px-2 py-1 rounded-lg w-[200px]"
                                                id="tr_amount" th:field="${amountDto.value}"
                                                placeholder="9000">
                                        </div>
                                        <div class="btn-done">
                                            <button type="submit" id="submit-button"
                                                class="py-2 px-3 bg-amber-200 rounded-xl hover:scale-105 active:scale-95 active:bg-amber-300 transition-all">Done
                                            </button>
                                        </div>
                                    </form>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="invoice flex mx-auto">
                    <div
                        class="invoice-container bg-white p-5 rounded-lg w-[1120px] h-[575px] overflow-auto overflow-x-hidden shadow-md my-2">
                        <h1 class="text-center text-2xl font-bold">Invoice</h1>
                        <table class="table-auto w-full mt-5 overflow-auto overflow-x-hidden text-center">
                            <thead class="text-sm">
                                <tr class="bg-amber-100">
                                    <th class="px-4 py-2 resize w-[30px]">No</th>
                                    <!-- <th class="px-4 py-2 resize w-[30px]">Order id</th> -->
                                    <th class="px-4 py-2 resize">Customer name</th>
                                    <th class="px-4 py-2 resize w-[130px]">Date</th>
                                    <th class="px-4 py-2">Product name</th>
                                    <th class="px-4 py-2 resize w-[20px]">Qty</th>
                                    <th class="px-4 py-2">Price</th>
                                    <th class="px-4 py-2">Total</th>
                                </tr>
                            </thead>
                            <tbody class="text-sm rounded-md overflow-scroll">
                                <tr th:each="invoice, stat : ${invoices}" class="text-center">
                                    <td class="border px-4 py-2" th:text="${stat.count}"></td>
                                    <!-- <td class="border px-4 py-2" th:text="${invoice.id}"></td> -->
                                    <td class="border px-4 py-2 resize w-[200px]" th:text="${invoice.cus_name}"></td>
                                    <td class="border px-4 py-2"
                                        th:text="${#temporals.format(invoice.date, 'yyyy-MM-dd')}">
                                    </td>
                                    <td class="border px-4 py-2 resize w-[200px]" th:text="${invoice.p_code.name}"></td>
                                    <td class="border px-4 py-2" th:text="${invoice.qty}"></td>
                                    <td class="border px-4 py-2" th:text="@{'Rp. ' + ${invoice.price}}"></td>
                                    <td class="border px-4 py-2" th:text="@{'Rp. ' + ${invoice.price * invoice.qty}}">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="invoice-form-lower mt-5 flex flex-col float-end">
                            <div class="total text-sm">
                                <div class="form-group-transaction my-2">
                                    <label for="return">Paid Amount (Rp):</label><br>
                                    <input type="text" name="price" id="in_amount"
                                        class="form-control bg-amber-100 px-2 py-1 rounded-lg"
                                        th:value="@{'Rp. ' +${totalAmount}}" readonly>
                                </div>
                                <div class="form-group-transaction my-2">
                                    <label for="return">Return (Rp):</label><br>
                                    <input type="text" name="price" id="price"
                                        class="form-control bg-amber-100 px-2 py-1 rounded-lg"
                                        th:value="@{'Rp. ' + ${totalAmount - total}}" readonly>
                                </div>
                                <div class="form-group-transaction my-2">
                                    <label for="return">Total (Rp):</label><br>
                                    <input type="text" name="price" id="price"
                                        class="form-control bg-amber-100 px-2 py-1 rounded-lg"
                                        th:value="@{'Rp. ' + ${total}}" readonly>
                                </div>
                            </div>
                            <div class="btn-done">
                                <button type="button"
                                    class="py-2 px-3 bg-amber-200 rounded-xl hover:scale-105 active:scale-95 active:bg-amber-300 transition-all"
                                    onclick="window.open('print_area');">Print</button>
                            </div>
                        </div> 
                    </div>
                </div>
        </div>
        </main>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>

        $(document).ready(function () {
            $("#submit-button").click(function (e) {
                e.preventDefault(); // Prevent the default form submission

                var amountValue = $("#tr_amount").val();

                $.ajax({
                    url: '/create_amount', // The endpoint to send the data to
                    type: 'POST', // The HTTP method to use
                    data: { value: amountValue }, // The data to send
                    success: function (response) {
                        // This function will be called if the request is successful
                        console.log("Data sent successfully");
                        location.reload(); // Reload the page
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        // This function will be called if the request fails
                        console.log("Error sending data: " + textStatus);
                    }
                });
            });
        });
        window.onload = function () {
            var totals = document.getElementsByClassName('totally');
            var sum = 0;
            for (var i = 0; i < totals.length; i++) {
                var value = totals[i].innerText.replace('Rp. ', '');
                sum += parseFloat(value);
            }
            document.getElementById('sub-total').value = 'Rp. ' + sum;
        }


        document.getElementById('search-button').addEventListener('click', function () {
            const query = document.getElementById('search-input').value;
            window.location.href = `/search?query=${query}`;
        });

        var viewMode = getCookie("view-mode");
        if (viewMode == "desktop") {
            viewport.setAttribute('content', 'width=1024');
        } else if (viewMode == "mobile") {
            viewport.setAttribute('content', 'width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no');
        }

        /*<![CDATA[*/
        var errorMessage = /*[[${errorMessage}]]*/ 'default';
        if (errorMessage !== 'default') {
            alert(errorMessage);
        }
        /*]]>*/

    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
    <script src="js/script.js"></script>
</body>

</html>